{% extends "auctions/layout.html" %}

{% block body %}

    <h2>Categories</h2>

    <div class="row">
        <div class="col-4">
          <div class="list-group" id="list-tab" role="tablist">
            {% for category in categories %}
            <a class="list-group-item list-group-item-action" id="list-home-list" data-toggle="list" href="{% url 'category' name=category %}" role="tab" aria-controls="home">{{ category }}</a>
            {% endfor %}
            <a class="list-group-item list-group-item-action" id="list-home-list" data-toggle="list" href="{% url 'category' name=None %}" role="tab" aria-controls="home">Others</a>
          </div>
        </div>
    </div>

{% endblock %}