{% extends "network/layout.html" %}

{% block body %}
{% if user.is_authenticated %}
    <div class="card m-3">
        <div class="card-body">
          <h5 class="card-title">New Post</h5>
          <form action="{% url 'index' %}" method="post">
            {% csrf_token %}
            {{ form }}
            <br>
            <input class="btn btn-primary" type="submit" value="Post">
          </form>
        </div>
    </div>
{% endif %}
<div class="m-3">
    <h2> All Posts </h2>
</div>
    {% include "network/posts.html" %}

{% endblock %}