{% load static %}

<div class="m-3">
    {% for post in pages %}
    <div class="card mb-3">
        <div class="card-body" id="post-{{ post.id }}">
            <a href="{% url 'profile' id=post.user.id %}">
                <h5 class="text-dark card-title">{{post.user.username}}</h5>
            </a>
            <br>
            {% if request.user.id == post.user.id %}
            <button class="btn btn-link p-0 edit-post" data-post-id="{{ post.id }}">Edit</button>
            {% endif %}
            <p style="margin: 0px; padding: 0px;">{{ post.content }}</p>
            <p class="text-secondary" style="margin: 0px; padding: 0px;">{{ post.created_date }}</p>
            <div class="d-flex align-items-center">
                <button class="btn btn-link p-0 like-post" data-post-id="{{ post.id }}">
                    <i id="like-{{ post.id }}" class="fa fa-heart-o" aria-hidden="true" style="color:palevioletred;"></i>
                </button>
                <p class="text-secondary mb-0 ml-1">{{ post.likes }}</p>
            </div>
        </div>
      </div>
      {% endfor %}


      <div class="pagination">
        <span class="step-links">
            <ul class="pagination">
                {% if pages.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page={{ pages.previous_page_number }}">Previous</a></li>
                {% endif %}
        
                <!--<span class="current">
                    Page {{ pages.number }} of {{ pages.paginator.num_pages }}.
                </span> -->
        
                {% if pages.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ pages.next_page_number }}">Next</a></li>
                {% endif %}
            </ul>
        </span>
    </div>

{% block script %}
    <script src="{% static 'network/post.js' %}"></script>
{% endblock %}

