{% extends "network/layout.html" %}

{% block body %}
    <div class="card m-3">
        <div class="card-body">
            <div class="row">
                <h2 class="card-title">{{username}}</h2> 
                {% if not request.user.id == user_id and request.user.is_authenticated %}
                <div class="col text-right">
                    {% if not follow %}
                    <a href="{% url 'follow' id=user_id %}" class="btn btn-outline-primary">Follow</a>
                    {% else %}
                    <a href="{% url 'unfollow' id=user_id %}" class="btn btn-primary">Unfollow</a>
                    {% endif %}
                </div>
                {% endif %}
            </div>
            <div class="row">
                <p><strong>{{followings}}</strong> <span class="text-secondary">Following</span>  <strong class="pl-3">{{followers}}</strong> <span class="text-secondary">Followers</span></p>
            </div>
        </div>
    </div>
    <hr>
    <div class="card m-3">
    <h5 class="card-header">Posts</h5>
    </div>
    
    {% include "network/posts.html" %}

{% endblock %}